<!DOCTYPE html>
<html lang="en">
<head>
 
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/style.css">
<title>mercado liebre</title>
</head>
<body>
    <header>
    <img src="/img/logo-mercado-liebre.svg" width="200px" height="200px" alt="">

    <ul>
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
    </ul>
    <ul>
        <li><a href="/CreateUser.html" >Crea tu cuenta</a></li>
        <li><a href="">Ingresa</a></li>
        <li><a href="">Mis compras</a></li>
    </ul>
</header>

<article>

<img src="/img/img-home-banner.jpg" width="100%" alt="">

<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
sed diam nonummy nibh euismod tincidunt ut laoreet  dolore
magna aliquam erat volutpat. Ut wisi enim ad minim  veniam,
quis nostrud exerci tation ullamcorper suscipit lob ortis
nisl ut aliquip ex ea commodo consequat.

</p> 
<br></br>
<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
sed diam nonummy nibh euismod tincidunt ut laoreet  dolore
magna aliquam erat volutpat. Ut wisi enim ad minim  veniam,
quis nostrud exerci tation ullamcorper suscipit lob ortis
nisl ut aliquip ex ea commodo consequat.
</p> 

<br></br>

 <br></br>
 <hr>
 <br></br>
<h3>LOREM IPSUM DOLOR </h3>
 
<img src="/img/banner_newsletter.png" width="100%" alt="">

<h3><a href=""> Lorem, ipsum dolor-></a></h3>
<hr>

<h4>LOREM IPSUM DOLOR </h4>

<h2>Lorem ipsum dolor sit amet consec tetuer </h2>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
sed diam nonummy nibh euismod tincidunt ut laoreet  dolore
magna aliquam erat volutpat. Ut wisi enim ad minim  veniam,
quis nostrud exerci tation ullamcorper suscipit lob ortis
nisl ut aliquip ex ea commodo consequat.</p> 
<div class="social">
<ul>
    <li><a href="">Instagram</a></li>
    <li><a href="">twitter</a></li>
    <li><a href="">Facebook</a></li>
    <li><a href="">Github</a></li>
</ul>
</div>

<h5>
Saludos, <br>
Ale y Henri.
</h5>
<br>
<hr>
<br></br>
</article>

<footer>

<small>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
 sed diam nonummy nibh euismod tincidunt ut laoreet  dolore
magna aliquam erat volutpat. Ut wisi enim ad minim  venia
quis nostrud exerci tation ullamcorper suscipit lob ortis
nisl ut aliquip ex ea commodo consequat.</p> <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
sed diam nonummy nibh euismod tincidunt ut laoreet  dolore
magna aliquam erat volutpat. Ut wisi enim ad minim  veniam,
quis nostrud exerci tation ullamcorper suscipit lob ortis
nisl ut aliquip ex ea commodo consequat.</small>
</footer>






</body>
</html>