<!DOCTYPE html>
<html lang="en">
<head>
 
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/style.css">
<title>mercado liebre</title>
</head>
<body>
    <header>
    <img src="/img/logo-mercado-liebre.svg" width="200px" height="200px" alt="">

    <input type="search">

    <ul>
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
    </ul>
    <ul>
        <li><a href="/CreateUser.html" >Crea tu cuenta</a></li>
        <li><a href="/login.html">Ingresa</a></li>
        <li><a href="">Mis compras</a></li>
    </ul>
</header>


<section>
    <img src="/img/img-home-banner.jpg" width="100%" alt="">

</section>


<section>

 <footer>
<article>
<h4> Paga con tarjeta o en efectivo</h4>
             
 Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de
 pago. ¡Y siempre es seguro!
         
</article>
<br>
<br>
<article>
</h4>Envío gratis desde los $ 2.500</h4>
             
Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
productos. Es un beneficio de MercadoPuntos.
             
</article>
<br>
<br>
         
<article>
<h4>Seguridad, de principio a fin</h4>
             
¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
porque estás siempre prtegid@.
         
</article>
<br>
<br>
         
<div> © 1999-2019 MercadoLiebre S.R.L</div>
</footer>


</body>
</html>