<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <title>Document</title>
</head>
<body>
    <header >
        <div class="logo">
       <img class='logo' src="/img/logo-mercado-liebre.svg" alt="">
       </div>
       
       
        <div class="search"> 
       <input class='search' type="search" placeholder="Busca productos, marcas... ">
       <i  class="fas fa-search"></i>
       </div>
          
           
       </div>
       
       <div class="navbar">
           <ul>
               <li><a href="">Ofertas</a></li>
               <li><a href="">Tiendas oficiales</a></li>
               <li><a href="">Vender</a></li>
               <li><a href="">Ayuda</a></li>
           </ul>
           <ul>
               <li><a href="/register.html" >Crea tu cuenta</a></li>
               <li><a href="/login.html">Ingresa</a></li>
               <li><a href="">Mis compras</a></li>
           </ul>
       </div>
       
           <i class="fas fa-bars hamburger_menu"></i>
       
       </header>


<main>
<forms>
<input class="input-login" type="email" placeholder="email"><br>

<input class="input-login" type="password" placeholder="contraseña">

<a href="/">
<input class="login-button" type="submit" value="Enviar">
</a>
<input class="login-button" type="reset" value="Borrar">

</forms>
</main>

    
<footer>

    <article class="footer-article">
        
    
        <h4 class="footer-title"> Paga con tarjeta o en efectivo</h4>
        <i class="fas fa-credit-card footer_icon"></i>
          
     <div class='footer-article-despcription'>
     Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de
     pago. ¡Y siempre es seguro!
    </div>
             
    </article>
    
    <article class="footer-article">
       
    <h4 class="footer-title">Envío gratis desde los $ 2.500</h4>
                 
    <div class='footer-article-despcription'>
    
    Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
    productos. Es un beneficio de MercadoPuntos.
    </div>          
    </article>
             
    <article class="footer-article">
    <h4 class="footer-title">Seguridad, de principio a fin</h4>
    
    <div class='footer-article-despcription'>
    
    ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
    porque estás siempre prtegid@.
        
    </div>     
    </article>
             
    <div class="copyright"> © 1999-2019 MercadoLiebre S.R.L</div>
    </footer>
         
</body>
</html>