<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <title>Document</title>
</head>
<body>
    <header>
        <img class='logo' src="/img/logo-mercado-liebre.svg" width="200px" height="200px" alt="">
    
        <input class='search' type="search"  placeholder="Busca productos, marcas... "><i class="fas fa-search"></i>
        <div> Comprá en cuotas y sin tarjeta de crédito </div>
        
        </div>
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="/register.html" >Crea tu cuenta</a></li>
            <li><a href="/login.html">Ingresa</a></li>
            <li><a href="">Mis compras</a></li>
        </ul>
    
        <div class="botonMenu">
        <i class="fas fa-bars hamburger_menu"></i>
    
    </header>


<main>
<forms>
<input type="email" placeholder="email"><br>

<input type="password" placeholder="contraseña">

<a href="/">
<input type="submit" value="Enviar">
</a>
<input type="reset" value="Borrar">

</forms>
</main>

    
<footer>

    <article>
        <i class="fas fa-credit-card footer_icon"></i>
    
        <h4 class="footer-title"> Paga con tarjeta o en efectivo</h4>
          
     <div class='footer-article-despcription'>
     Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de
     pago. ¡Y siempre es seguro!
    </div>
             
    </article>
    <br>
    <br>
    <article>
       
    <h4 class="footer-title">Envío gratis desde los $ 2.500</h4>
                 
    <div class='footer-article-despcription'>
    
    Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
    productos. Es un beneficio de MercadoPuntos.
    </div>          
    </article>
             
    <article>
    <h4 class="footer-title">Seguridad, de principio a fin</h4>
    
    <div class='footer-article-despcription'>
    
    ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
    porque estás siempre prtegid@.
        
    </div>     
    </article>
    <br>
    <br>
             
    <div class="copyright"> © 1999-2019 MercadoLiebre S.R.L</div>
    </footer>
         
</body>
</html>